.board-index {
  border: 1px solid lightgray;
  background: white;
  width: 900px;

  border-radius: 20px;
  margin: 20px auto;
  padding: 20px;

  > div {
    display: flex;
    justify-content: space-evenly;
  }
}

.board-show {
  border: 1px solid lightgray;
  background: white;

  border-radius: 20px;
  margin: 20px auto;
  padding: 20px;

  width: 90%;

  button {
    font-size: 15px;
    font-weight: bold;
    color: black;
  
    background: white;
    padding: 10px;
    border-radius: 50px;
    border: 1px solid lightgrey;
  }

  > div {
    margin-top: 20px;

    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;

    > div {
      display: flex;
      flex-direction: column;
    }
  }
}

.board-index-item {

  img, .img-icon-div {
    width: 200px;
    width: 200px;
    height: 200px;

    border: 1px solid lightgray;
    border-radius: 15px;
  }

  .img-icon-div {
    display: flex;
    align-items: center;
    justify-content: center;

    .far {
      font-size: 50px;
    }
  }
  

  p:first-of-type {
    font-size: 16px;
    font-weight: bold;
  }

  p {
    margin: 5px 10px;
    font-size: 12px;
  }
}