.board-index {
  // box-sizing: border-box;
  border: 1px solid lightgray;
  background: white;
  width: 90%;

  border-radius: 20px;
  margin: 20px auto;
  padding: 20px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;


  > div {
    display: flex;
    justify-content: space-evenly;
  }

  div.dp {
    display: flex;
    justify-content: center;
    align-items: center;

    border: 1px solid lightgray;
    border-radius: 100px;

    width: 125px;
    height: 125px;
    margin-top: 10px;

    .far {
      font-size: 50px;
    }
  }

  .cb-button, .follow-button {    
    font-size: 15px;
    font-weight: bold;
    color: black;

    margin-right: 12px;
    padding: 10px;
    border-radius: 50px;
    border: 0px solid rgb(231, 228, 228);
    margin: 0 0 20px 0;
  }

  button.follow-button {
    background: rgba(230, 0, 35, 1);
    color: white;
  }

  .board-index-box {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    // width: 1000px;
  }
}

.board-show {
  border: 1px solid lightgray;
  background: white;

  border-radius: 20px;
  margin: 20px auto;
  padding: 20px;

  width: 90%;

  button {
    font-size: 15px;
    font-weight: bold;
    color: black;
  
    background: white;
    padding: 10px;
    border-radius: 50px;
    border: 1px solid lightgrey;
  }

  > div {
    margin-top: 20px;

    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;

    > div {
      display: flex;
      flex-direction: column;
    }
  }
}

.board-index-item {

  margin: 0 10px;

  img, .img-icon-div {
    width: 200px;
    width: 200px;
    height: 200px;

    border: 1px solid lightgray;
    border-radius: 15px;
  }

  .img-icon-div {
    display: flex;
    align-items: center;
    justify-content: center;

    .far {
      font-size: 50px;
    }
  }
  

  p:first-of-type {
    font-size: 16px;
    font-weight: bold;
  }

  p {
    margin: 5px 10px;
    font-size: 12px;
  }
}