.pin-form {
  // border: 1px solid red;
  background: white;

  width: 850px;
  height: 600px;

  border-radius: 15px;
  padding: 40px;
  margin: 40px auto 0 auto;
  
  .top {
    // border: 1px solid red;
    margin: 20px 20px 20px 20px; 
    display: flex;
    justify-content: space-between;

    > button {
      height: 40px;
      color: white;
      font-weight: bold;
      font-size: 15px;

      background: rgba(230, 0, 35, 1);
      
      padding: 12px;
      border-radius: 10px;
    }
    
    button:first-child {
      color: black;
      border: 1px solid lightgray;
      background: rgb(255, 255, 255);
    }

    button:hover {
      background: lightgray;
    }

  }

  .inner-form{
    display: flex;
    justify-content: space-evenly;
    // align-items: center;

    .upload-box {
      margin: 0 20px 0 20px;  
      border-radius: 10px;
      height: 450px;
      width: 50%;
      display: flex;
      justify-content: center;
      align-items: center;

      // border: 1px solid red;
      background: rgb(240, 240, 240);
      
      > div {
        // margin: 17px auto;
        height: 92%;
        width: 90%;

        border-radius: 10px;
        border: 2px dotted lightgray;

        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;

        > div { //text
          font-weight: 100; //gotta make the text thinner I think
        }
      }
    }
  
    .info {
      display: flex;
      flex-wrap: wrap;
      align-items: flex-start;

      // border: 1px solid red;
      margin: 0 20px 0 20px;  
      border-radius: 15px;
      height: 500px;
      width: 60%;

      input{
        font-size: 16px;
        width: 400px;
        padding: 10px;
        border: 0px solid white;
        border-bottom: 1px solid gray;
      }
      
      input:first-of-type {
        font-size: 36px;
        font-weight: bold;
        margin-top: 20px;
      }

      // input:nth-of-type(2){
      textarea{
        font-size: 16px;
        height: 200px;
        width: 415px;
        resize: none;
      }

      input:last-of-type {
        align-self: flex-end;
        margin-bottom: 15px;
      }
    }
  }

}

.edit-form {
  display: flex;
  flex-direction: column;
  align-content: center;
}

.delete-button {
  color: black;
  font-weight: bold;
  font-size: 15px;

  background: white;
  border: 1px solid lightgray;
  border-radius: 10px; 
  padding: 12px;
  
  width: 10%;
  margin: 0 auto;
}