ul.errors {
  margin-left: -40px; // manually adjusted gotta fix that
  list-style-type: none;
  color: rgba(230, 0, 35, 1);
}

.login-form-container {
  height: 70%;
  width: 50%;

  padding: 20px 0 20px 0;
  margin: 10px auto 0 auto;
  border: 1px solid lightgrey;
  border-radius: 20px;
  color: grey;

  > form {
    margin: 0 auto 0 auto;
    text-align: center;
  }

  p {
    font-size: 40px;
    margin: 0 0 0 0;
    color: rgba(0, 0, 0, 0.822);
  }

  input {
    padding: 10px;
    border-radius: 12px;
    border: 1px solid lightgrey;
  }

  input:hover {
    padding: 10px;
    border-radius: 12px;
    border: 1px solid rgb(154, 195, 233);
  }

  input.session-submit {
    font-size: 15px;
    font-weight: bold;
    color: white;
  
    background: rgba(230, 0, 35, 1); 
    margin: 10px 0 10px 0;
    padding: 10px;
    border-radius: 50px;
    border: 0px solid rgb(231, 228, 228);
    width: 190px;
  }

  button {  
    background: rgba(24, 119, 242, 1); 
    margin: 10px 0 10px 0;
    padding: 10px;
    border-radius: 50px;
    border: 0px solid rgb(231, 228, 228);
    width: 190px;

    font-size: 15px;
    font-weight: bold;
    color: white;
  }

  button:last-of-type {  
    background: rgba(171, 71  , 188, 1);
  }

  button:hover, input.session-submit:hover{
    background: lightgrey;
    cursor: pointer;
  }
}

