a{
  text-decoration: none; //underline
  color: black;

  button:hover {
    background: lightgrey;
  }
}

// a:hover {
  // color: rgb(206, 182, 182);
  // text-decoration: underline;
  // 
// }

body {
  margin: 0;
  font-family: Arial;
  background: rgb(238, 238, 238);
}

.logo {
  height: 55px;
}

button {
  border: 0px solid rgb(231, 228, 228);
}

input {

}

button:hover {
  background: lightgray;
  cursor: pointer;
}

h1 {
  text-align: center;
}

.close-button {
  text-align: right;
  margin: 0 20px;
  right: 30%;

  > a {
    padding: 5px 10px;
    border-radius: 20px;
  }

  > a:hover {
    background: lightgrey;
  }
}