.top-nav {
  // position: relative;
  display: flex;
  justify-content: space-between;

  // width: 100%;
  padding: 0px 20px 0 20px;
  border-bottom: 1px solid lightgray;
}

.header-link {
  color: rgba(230, 0, 35, 1);  
  font-weight: 600;
  font-size: 20px;

  display: flex;
  flex-direction: row;
  align-items: center;
  // font-weight: 400;
}

div.login-signup {
  display: flex;
  flex-direction: row;
  align-items: center;

  list-style-type: none;

  > button {
    font-size: 15px;
    font-weight: bold;
    color: black;

    margin-right: 12px;
    padding: 10px;
    border-radius: 50px;
    border: 0px solid rgb(231, 228, 228);
  }

  > button:first-of-type {
    background: rgba(230, 0, 35, 1);    
    > a {
      color: white;
    }
  }

  > button:hover {
    background: lightgrey;
  }
}

// personalGreeting (logged in user)

.header-group {
  display: flex;
  flex-direction: row;
  align-items: center;

  button {
    color: white;
    font-size: 15px;
    font-weight: bold;

    background: rgba(230, 0, 35, 1); 
    margin: 10px 15px 10px 5px;
    padding: 10px;
    border-radius: 50px;
    border: 0px solid rgb(231, 228, 228);
  }

  button:hover {
    background: lightgrey;
    cursor: pointer;
  }

}

button.pb {
    color: black;
    font-size: 12px;
    font-weight: 500;

  background: white;
  margin: 0 2px 0 5px;
  border: 1px solid rgba(88, 84, 84, 0.11);
}