.pin-index {
  background: white;
  display: flex;
  justify-content: center;
  
  // width: 80%;
  flex-wrap: wrap;
}

.test {
  margin: 10px;
  border-radius: 15px;
  border: 1px solid lightgray;
    
  height: 250px;
  width: 250px;
}

.pin-show {
  display: flex;
  background: white;

  width: 850px;
  height: 600px;

  border-radius: 15px;
  margin: 40px auto 0 auto;

  .left {
    // border: 1px solid red;
    // margin: 0 20px 0 0;

    img {
      border-top-right-radius: 0px;
      border-bottom-right-radius: 0px;
      margin: 0;
      height: 100%;
      width: 424px;
    }
  }

  .right {
    // border: 1px solid red;
    width: 406px;
    padding: 10px;

    .top-nav {
      display: flex;
      justify-content: flex-end;

      margin: 10px 0;
      border: 0px solid grey;
      padding: 0 5px;

      button {
        font-size: 15px;
        font-weight: bold;
        color: black;
        padding: 10px;

        height: 40px;
        background: white;
      }

      button.save {
        color: white;
        border-radius: 50px;
        background: rgba(230, 0, 35, 1);
      }
    }

    .mid {
      width: auto;
      height: 500px;
      p {
        margin: 7px 0 0 0;
      }
      p:first-of-type {
        font-size: 36px;
      }

      .author {
        border-top: 1px solid lightgray;
        // border-radius: 15px;
        padding: 10px;
        margin: 10px auto;
        width: 300px;

        text-align: center;
      }
    }

    // .bot-nav {

    // }
  }
  
}